* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background-color: #c6c6ce;
  color: white;
  padding: 10px;
  text-align: center;
}
#title {
  text-align: center;
}
#description {
  text-align: center;
}
body {
  font-family: Arial, sans-serif;
  background-color: #fbd5c1;
  color: #333;
  line-height: 1.6;
}
#survey-form {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}
input[type="text"],
input[type="email"],
input[type="number"],
select,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
button {
  background-color: #515066;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: #e5dedf;
}
img:hover {
  transform: scale(5.5);
  transition: transform 0.5s;
}
